<div class="col-md-4" style="height: 100%;">	
	<div class="panel panel-blue">
		<div class="panel-heading dark-overlay"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>To-do List</div>
		<div class="panel-body">
			<ul class="todo-list" id="todos">
			</ul>
		</div>
		<div class="panel-footer">
			<div class="input-group">
				<input id="todo-input" type="text" class="form-control input-md" placeholder="Add new task" />
				<span class="input-group-btn">
					<button class="btn btn-primary btn-md" id="todo-btn">Add</button>
				</span>
			</div>
		</div>
	</div>
</div><!--/.col-->


<script id="todoTemplate" type="text/x-jsrender">
	{{if todos.length === 0}}
		<li class="todo-list-item"><span class="text-center">None!</span></li>
	{{/if}}
	{{for todos}}
	<li data-id={{>_id}} id={{>_id}} class="todo-list-item">
		<div class="checkbox">
			{{if completed == true}}
			<input type="checkbox" data-id={{>_id}} id="checkbox" class="todo-checkbox" checked />
			{{else completed == false}}
			<input type="checkbox" data-id={{>_id}} id="checkbox" class="todo-checkbox" />
			{{/if}}
			<label id={{>"todo-message-"+_id}} for="checkbox">{{:message}}</label>
		</div>
		<div class="pull-right action-buttons">
			<a href="" data-id={{>_id}} class="edit-btn"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
			<a href="" data-id={{>_id}} class="trash trash-btn"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
		</div>
	</li>
	{{/for}}
</script>

<script id="todoEditTemplate" type="text/x-jsrender">
	<li data-id={{>_id}} id={{>_id}} class="todo-list-item">
		<div class="input-group">
			<input type="text" data-id={{>_id}} id={{>"edit-todo-"+_id}} class="form-control input-md" value='{{>message}}'></input>
			<span class="input-group-btn">
				<button data-id={{>_id}} class="btn btn-success btn-md todo-edit-btn">Update</button>
			</span>
		</div>
	</li>
</script>
<script>
	window._todoData = {};
	
	function initTodoListeners(data) {
		$('.edit-btn').click(function(ev) {
			ev.preventDefault();
			var dat = {};
			dat._id = $(this).data('id');
			dat.message = $("#todo-message-" + $(this).data('id')).html();
			var tmpl = $.templates('#todoEditTemplate');
			var html = tmpl.render(dat);
			console.log(dat);
			$("li#" + $(this).data('id')).html(html);
			$('.todo-edit-btn').click(function(ev) {
				ev.preventDefault();
				$.put('/todo', {id: $(this).data('id'), message: $('#edit-todo-' + $(this).data('id')).val()}, function(err) {
					$.get('/todos', function(data) {
						var tmpl = $.templates("#todoTemplate");
						var html = tmpl.render(data);
						window._todoData = data;
						$("#todos").html(html);
						initTodoListeners(data);
					});
				});
			});
		});
		
		$('.trash-btn').click(function(ev) {
			ev.preventDefault();
			$.delete('/todo', {id: $(this).data('id')}, function(res) {
				$.get('/todos', function(data) {
					var tmpl = $.templates("#todoTemplate");
					var html = tmpl.render(data);
					window._todoData = data;
					$("#todos").html(html);
					initTodoListeners(data);
				});
			});
		});

		$('.todo-checkbox').click(function(ev) {
			var checked = $(this).is(":checked");
			$.put('/checkTodo', {id: $(this).data('id'), completed: checked}, function(res) {
				$.get('/todos', function(data) {
					var tmpl = $.templates("#todoTemplate");
					var html = tmpl.render(data);
					window._todoData = data;
					$("#todos").html(html);
					initTodoListeners(data);
				});
			});
		});
	}

	$('#todo-btn').click(function(el, ev) {
		$.post('/addTodo', {message: $("#todo-input").val()}, function(res) {
			$.get('/todos', function(data) {
				var tmpl = $.templates("#todoTemplate");
				var html = tmpl.render(data);
				window._todoData = data;
				$("#todos").html(html);
				initTodoListeners(data);
			});
			$("#todo-input").val('');
		});
	});

	$('#todo-input').bind("keypress", function(ev) {
		if (ev.which === 13)
			$("#todo-btn").click();
	});

	$(document).ready(function() {
		$.get('/todos', function(data) {
			var tmpl = $.templates("#todoTemplate");
			var html = tmpl.render(data);
			window._todoData = data;
			$("#todos").html(html);
			initTodoListeners(data);
		});
	});
	
	window.setInterval(function() {
		$.get('/todos', function(data) {
			if (data !== window._todoData) {
				var tmpl = $.templates("#todoTemplate");
				var html = tmpl.render(data);
				window._todoData = data;
				$("#todos").html(html);
				initTodoListeners(data);
			}
		});
	}, 5000);
</script>